<!-- Dashboard người dùng, bao gồm các chức năng:
 - Xem các thong tin cơ bản ở dạng dashboard
 - Xem lịch sử đơn hàng và theo dõi đơn hàng
 - Xem và sửa địa chỉ giao hàng cũng như thông tin giao hàng
 - thông tin cá nhân của người dùng -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DKD - about us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <!-- CSS 
    ========================= -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/stylesheets/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Account management</h1>
    <p>Welcome to your account page</p>
  </body>
</html>