<!-- Dashboard người dùng, bao gồm các chức năng:
 - Xem các thong tin cơ bản ở dạng dashboard
 - Xem lịch sử đơn hàng và theo dõi đơn hàng
 - Xem và sửa địa chỉ giao hàng cũng như thông tin giao hàng
 - thông tin cá nhân của người dùng -->
<!DOCTYPE html>
<html>
  <head>
    <title>Account page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Account management</h1>
    <p>Welcome to your account page</p>
  </body>
</html>