<!-- Form xác nhận thanh toán -->
<!DOCTYPE html>
<html>
  <head>
    <title>Pay confirm</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pay confirm</h1>
    <p>Welcome to Pay confirm</p>
  </body>
</html>