<!-- Trang chi tiết sản phẩm -->
<!DOCTYPE html>
<html>
  <head>
    <title>Product detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Product detail</h1>
    <p>Welcome to product detail</p>
  </body>
</html>