<!-- Trang danh sách sản phẩm -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Shop page</h1>
    <p>Welcome to the shop page</p>
</body>
</html>