<!-- Thống kê nâng cao -->
<!DOCTYPE html>
<html>
  <head>
    <title>Advance dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Advance dashboard</h1>
    <p>Welcome to Advance dashboard</p>
  </body>
</html>