<!-- Quản lý đơn hàng -->
<!DOCTYPE html>
<html>
  <head>
    <title>Order list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Order list</h1>
    <p>Welcome to Order list</p>
  </body>
</html>