<!-- Chi tiết đơn hàng -->
<!DOCTYPE html>
<html>
  <head>
    <title>Order details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Order details</h1>
    <p>Welcome to Order details</p>
  </body>
</html>