<!-- Form thêm/sửa sản phẩm -->
<!DOCTYPE html>
<html>
  <head>
    <title>Product form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Product form</h1>
    <p>Welcome to Product form</p>
  </body>
</html>