<!-- Quản lý người dùng -->
<!DOCTYPE html>
<html>
  <head>
    <title>User list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User list</h1>
    <p>Welcome to User list</p>
  </body>
</html>